/* Base Modal Plugin Styles - Required */

#RhOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
	filter: alpha(opacity=75);
	z-index: 1000;
}

#RhModal {
	position: fixed;
	background: #FFFFFF;
	border-radius: 0px;
	padding: 20px;
	z-index: 2000;
	width: 920px;
}

#RhWrap {
	position: relative;
	padding: 0;
}

#RhContent {
	position: relative;
	border-radius: 0px;
	overflow-y: auto;
}

#RhCloseWrap {
	width: 100%;
	height: 22px;
	padding-top: 8px;
}

#RhClose {
	position: absolute;
	right: 12px;
	top: 20px;
	height: 22px;
	width: 25px;
}

#RhCloseWrap span {
	cursor: pointer;
}

#RhClose:hover {
	cursor: pointer;
}

#RhUp,
#RhDown {
	background: url("../img/scroll-arrow2x.png") transparent no-repeat 0 0;
	background-size: 25px 100px;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 292px;
	cursor: pointer;
}

#RhUp {
	bottom: 60px;
}

#RhUp:hover {
	background-position: 0 -25px;
}

#RhDown {
	bottom: 20px;
	background-position: 0 -50px;
}

#RhDown:hover {
	background-position: 0 -75px;
}

/* Custom Styles */

#RhWrap,
#RhCloseWrap {
	background: #000;
}

#RhClose {
	text-decoration: none !important;
}

#RhModal {
	text-align: left;
	background: #000;
}